@import "tailwindcss";

body {
  @apply bg-gray-900 text-white;
}

@keyframes terminal-entry {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    /* transform: translateY(0); */
    /* filter: blur(0); */
  }
}

.animate-terminal-line {
  animation: terminal-entry .3s ease-out forwards;
}

@keyframes suggestions-box {
  from { opacity: 0.5; transform: scaleY(0); }
  to { opacity: 1; transform: scaleY(1); }
}

.animate-suggestions-box {
  animation: suggestions-box 300ms ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4848ad;
  /* zinc-800 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #494428;
  /* zinc-700 */
}